body{
    padding: 5px;
    margin:0px;
}

.nav-bar{
    border: 1px solid;
    /* width: 1600px; */
    height: fit-content;
    padding: 5px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    
}

.nav-list{
    color:white;
    font-size: 32px;
}

.nav-list:hover{
    color:red;
}

.nav-items{
    border: 2px solid;
    /* width:1600px; */
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    margin: 30px 0 0 0;
}

.navs{
    color: white;
    font-size: 24px;
}

.navs:hover{
    color: red;
}

.nav-lists{
    border: 2px solid;
    height: fit-content;
    display:flex;
    padding:5px;
    background-color:darkslateblue;
    margin: 20px 0 0 0;
    align-items: center;
    justify-content:space-around;
}

.nav{
    color: white;
    text-align: center;
}

.nav:hover{
    color:red;
}

.icons{
    color: white;
    text-align: center;
}

.icons:hover{
    color:red;
}